/*Sección de clientes*/
.clientes {
  height: 90vh;
}

.clients-container__slider-area {
  /* width: 100%; */
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  padding: 2.5rem;
}

.clients-container__slider-area:hover {
  animation-play-state: paused;
}

@keyframes animate {
  0% {
    transform: translate3d(-330rem, 0, 0);
  }
  100% {
    transform: translate3d(30rem, 0, 0);
  }
}

.clients-container h2 {
  margin-bottom: 2rem;
}
.clients-container__logo {
  animation: animate 45s alternate linear infinite;
}

.clientes img {
  width: 9rem;
  border-radius: 50%;
}

/*Testimonios*/

.testimonios h2 {
  margin: 2rem 0;
}

.main-testimonios-container {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.testimonios-container {
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 4rem 0;
  overflow: hidden;
}

.testimonios-image img {
  height: 17rem;
  width: 17rem;
  object-fit: contain;
  border-radius: 50%;
}

.testimonios-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}

.testimonios-slide p {
  padding: 0 4rem;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}
.testimonios-slide strong {
  font-weight: 400;
}

.quote-icon {
  font-size: 3rem;
  color: var(--main-color);
}

.testimonios-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre-del-testimonio {
  font-size: 1.4rem;
  font-weight: 600;
}

.puesto-del-testimonio {
  font-size: 1.2rem;
  font-weight: 400;
}

.swiper-btn {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translateY(3rem);
  height: 4rem;
  width: 4rem !important;
  display: none !important;
}

.swiper-btn::after,
.swiper-btn::before {
  font-size: 2rem !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--main-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}
