.burger {
  display: none;
}

.desktop-container {
  background: var(--black);
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 2rem;
  top: 0;
}

.desktop-container svg {
  width: 20rem;
  margin-left: 5rem;
}

.desktop-nav ul {
  display: flex;
  margin-right: 5rem;
}

.desktop-nav li {
  list-style: none;
  cursor: pointer;
}

.desktop-nav li:hover {
  cursor: pointer;
}

.desktop-nav a {
  margin-left: 4rem;
  font-size: 1.5rem;
  color: var(--soft-white);
  font-weight: 300;
  z-index: 99;
  cursor: pointer;
}

.desktop-nav .active-page {
  color: var(--just-white);
  font-weight: bold;
}

.desktop-nav .active-page::before {
  top: 2.3rem;
  content: '';
  position: absolute;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: #00ad9f;
}

.full-screen {
  height: 100vh;
}

.button {
  font-size: 2rem;
  width: 20rem;
  height: 6rem;
}

.servicios__caja-de-servicios-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: var(--soft-white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.servicios__caja-de-servicios-box:hover {
  transform: translateY(-50px);
}
