main {
  background-image: url('../images/fondo-homepage-plus-desktop.webp');
  background-size: cover;
}

h1 {
  font-size: 1.6rem;
}

.main__button-section {
  flex-direction: row;
}

.main__button-section .main-btn {
  margin-right: 4rem;
}

.main__logo-plus {
  display: none;
}
