/*Portafolio*/
.portfolio-container {
  background-image: url('../images/fondo-homepage-plus.webp');
  background-color: var(--pure-black);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}

.portfolio-container i {
  opacity: 0;
  font-size: 1.8rem;
  color: var(--just-white);
  will-change: transform;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 50px;
}
.portfolio-container h2 {
  pointer-events: none;
  text-align: left;
}
.portfolio-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio-container .portfolio-container__card {
  position: relative;
  width: 300px;
  height: 180px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 10px;
}
.portfolio-container .portfolio-container__card:before {
  content: '';
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.portfolio-container .portfolio-container__card:after {
  content: '';
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.portfolio-container .portfolio-container__card ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}
.portfolio-container .portfolio-container__card ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #e6e5e1;
}
.portfolio-container .portfolio-container__card h2 {
  z-index: 99;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}
.portfolio-container .portfolio-container__card .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}

.portfolio-container .portfolio-container__card .pic1 {
  z-index: 100;
  width: 400px;
  height: 180px;
  background-image: url('../images/portafolio/portafolio-de-marketing.jpg');
  background-size: 100% 100%;
  filter: grayscale(100%);
}
.portfolio-container .portfolio-container__card .pic2 {
  z-index: 100;
  width: 400px;
  height: 180px;
  background-image: url('../images/portafolio/portafolio-de-desarrollo-web.jpg');
  background-size: 100% 100%;
  filter: grayscale(100%);
}
.portfolio-container .portfolio-container__card .pic3 {
  z-index: 100;
  width: 400px;
  height: 180px;
  background-image: url('../images/portafolio/portafolio-de-diseno-grafico.jpg');
  background-size: 100% 100%;
  filter: grayscale(100%);
}
.portfolio-container .portfolio-container__card .pic4 {
  z-index: 100;
  width: 400px;
  height: 180px;
  background-image: url('../images/portafolio/portafolio-de-produccion-audiovisual.jpg');
  background-size: 100% 100%;
  filter: grayscale(100%);
}
.portfolio-container .portfolio-container__card .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}
.portfolio-container .portfolio-container__card .social i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.portfolio-container .portfolio-container__card .social i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.portfolio-container .portfolio-container__card .social i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.portfolio-container .portfolio-container__card .social i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.portfolio-container .portfolio-container__card:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.portfolio-container .portfolio-container__card .portfolio-clicker {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #00a69f;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}
.portfolio-container .portfolio-container__card button i {
  font-size: 3rem;
}
.portfolio-container .portfolio-container__card:hover button {
  transform: scale(16.5);
}

.portfolio-container .portfolio-container__card:hover .pic1 {
  filter: grayscale(0);
}

.portfolio-container .portfolio-container__card:hover .pic2 {
  filter: grayscale(0);
}

.portfolio-container .portfolio-container__card:hover .pic3 {
  filter: grayscale(0);
}

.portfolio-container .portfolio-container__card:hover .pic4 {
  filter: grayscale(0);
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

a::before {
  background: none;
}
