:root {
  /* Colors */
  --main-color: #00a69f;
  --main-text-color: #323232;
  --secondary-text-color: #77787a;
  --black: #1f1f1f;
  --just-white: #fff;
  --soft-white: #f7f5f5;
  --grey: #bababa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  flex-wrap: wrap;
}

/*General styles*/
h1,
h2 {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 0 10px;
}

a {
  text-decoration: none;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

a::before {
  content: '';
  background-color: hsla(175, 100%, 34%, 0.5);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

.full-screen {
  height: 100vh;
}

.display-none {
  display: none;
}

/*Mobile Menu*/
/* Main menu positionning */
.desktop-container {
  display: none;
}

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fff;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
  background-color: var(--black);
}

/* Green band effect */
.main-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: var(--main-color);
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
  font-size: 2.4rem;
}

.main-nav li {
  display: block;
  margin: 3rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}
.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}
.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}
.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}
.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}
.main-nav a {
  display: block;
  padding: 12px 0;
  color: var(--just-white);
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-main-nav:focus {
  outline: none;
}
.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: var(--just-white);
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: '';
  display: block;
  height: 100%;
  background: var(--just-white);
  transition: all 0.275s;
}

.dark-nav .burger:before,
.dark-nav .burger {
  background: var(--black);
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
  background-color: var(--main-color);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/*Butons*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.8rem;
  color: var(--just-white);
  border: 2px solid var(--main-color);
}

.main-btn {
  background-color: transparent;
  margin-bottom: 30px;
  font-weight: 700;
}

.main-btn:hover {
  background-color: var(--main-color);
}

.secondary-btn {
  background-color: var(--main-color);
  margin-bottom: 30px;
  font-weight: 700;
}

.secondary-btn:hover {
  background-color: transparent;
  margin-bottom: 30px;
  font-weight: 700;
}

.square-main-btn {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  background: var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--main-color);
  font-size: 2rem;
}

.square-main-btn:hover {
  background: transparent;
  color: var(--main-color);
}

/*Footer*/
footer {
  height: 10vh;
  background: var(--black);
  color: var(--just-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
  justify-content: space-around;
}

footer a {
  color: var(--main-color);
  margin: 10px 5px;
  text-decoration: none;
  font-weight: 600;
}

footer a:hover {
  scale: 1.05;
  transition: 0.5s;
}
