:root {
  /* Colors */
  --main-color: #00a69f;
  --main-text-color: #323232;
  --secondary-text-color: #77787a;
  --black: #201e1c;
  --just-white: #fff;
  --soft-white: #f7f5f5;
  --grey: #bababa;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  flex-wrap: wrap;
}

/*General styles*/
h2 {
  margin-top: 50px;
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 0 10px;
}

.full-screen {
  height: 100vh;
}

.display-none {
  display: none;
}

/*Home styles*/

main {
  background-color: var(--black);
  color: var(--just-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/home/fondo-homepage-plus.png');
}

.main__logo-plus {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.main__logo-plus img {
  width: 150px;
}

.main__type-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.main__type-section span {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.typed-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.typed-container span {
  font-size: 2.4rem;
  margin-bottom: 0;
}

.main__type-section h3 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--main-color);
}

.main__button-section {
  display: flex;
  flex-direction: column;
}

.main__button-section button {
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.8rem;
  color: var(--just-white);
  border: 2px solid var(--main-color);
}

.main__button-section .contacto {
  background-color: transparent;
  margin-bottom: 30px;
  font-weight: 700;
}

.main__button-section .servicios {
  background-color: var(--main-color);
  margin-bottom: 30px;
  font-weight: 700;
}

/*Sección de servicios*/

.servicios {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicios-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios p {
  text-align: justify;
  padding: 0 40px;
  padding-top: 20px;
  font-size: 1.4rem;
}

.servicios span {
  font-weight: 600;
  text-align: center;
  display: block;
}

.servicios p a {
  color: #00a69f;
  text-decoration: none;
  font-weight: 600;
}

.servicios .servicios__contenedor-del-contenedor {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.servicios__contenedor-principal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 24px;
  padding-bottom: 16px;
}

.servicios__caja-de-servicios {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  min-width: 250px;
  height: 370px;
  box-shadow: inset 5px 5px 5px rgba(0, 173, 159, 0.2),
    inset -5px -5px 15px rgba(0, 173, 159, 0.1),
    5px 5px 15px rgba(0, 173, 159, 0.3), -5px -5px 15px rgba(0, 173, 159, 0.1);
  border-radius: 15px;
  margin: 0 10px;
  transition: 0.5s;
}

.servicios__caja-de-servicios-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: var(--soft-white);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.servicios__caja-de-servicios-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 173, 159, 0.1);
}

.servicios__caja-de-servicios-content {
  text-align: center;
}

.servicios__caja-de-servicios-content span {
  position: absolute;
  top: -10px;
  right: 5px;
  font-size: 8rem;
  color: rgba(0, 173, 159, 0.2);
}

.servicios__caja-de-servicios-content h2 {
  font-size: 1.6rem;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
  margin-top: 5px;
  color: var(--main-color);
}

.servicios__caja-de-servicios-content ul {
  font-size: 1.6rem;
  font-weight: 300;
  z-index: 1;
  transition: 0.5s;
}

.servicios__caja-de-servicios-content ul li {
  list-style: none;
  padding-top: 10px;
}

.servicios__caja-de-servicios-content a {
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  background: var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--main-color);
  font-size: 2rem;
}

.servicios__caja-de-servicios-content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: transparent;
  color: #000;
}

.servicios__list-item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.servicios__list-item i {
  padding-top: 10px;
  margin-right: 5px;
}

/*Sección de clientes*/
.clientes {
  height: 90vh;
}

.clients-container__slider-area {
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  padding: 2.5rem;
}

.clients-container__slider-area:hover {
  animation-play-state: paused;
}

.clients-container__logo {
  animation: animate-reverse 25s alternate linear infinite;
}

@keyframes animate {
  0% {
    transform: translate3d(-500px, 0, 0);
  }
  100% {
    transform: translate3d(1100px, 0, 0);
  }
}

.clients-container h2 {
  margin-bottom: 20px;
}
.clients-container__logo {
  animation: animate 25s alternate linear infinite;
}

.clientes img {
  width: 90px;
  background-color: red;
  border-radius: 50%;
  margin-right: 20px;
}
/*Testimonios*/

.testimonios h2 {
  margin: 20px 0;
}

.testimonios-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 70px;
  position: relative;
  perspective: 1000px;
}

.testimonios-container__main {
  background-color: var(--black);
  box-shadow: 0 5px 10px var(--main-color);
  color: #fff;
  animation: slide 0.4s linear;
}

.testimonios-container__main-slider {
  border-radius: 5px;
  width: 300px;
  padding: 20px;
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
}

@keyframes slide {
  0% {
    transform: rotateX(180deg);
  }
}

.testimonios-container__main-slider > * {
  animation: slideContent 0.2s linear 0.4s;
}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.testimonios-container__main-slider .icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 5rem;
}

.testimonios-container__testimonio {
  display: flex;
  align-items: center;
}

.testimonios-container__main-slider img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.testimonios-container__info span {
  color: var(--main-color);
  font-size: 2rem;
}
.testimonios-container__info .stars i {
  color: yellow;
  font-size: 1.5rem;
  margin-top: 5px;
}

.testimonios-text {
  color: var(--grey);
  font-size: 1.4rem;
  padding-top: 15px;
  font-style: italic;
}

.testimonios-container button {
  margin-top: 15px;
  background-color: #00a69f;
  color: var(--just-white);
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid var(--main-color);
}

.testimonios-container button:hover {
  background-color: transparent;
  color: var(--main-color);
}

.testimonios-container {
  display: none;
  margin-top: 30px;
}

.active {
  display: flex;
}

.testimonios #next,
.testimonios #prev {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 2rem;
  background-color: var(--just-white);
  color: var(--main-text-color);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 5px 10px #3337;
}

.testimonios #next {
  right: 40px;
}

.testimonios #prev {
  left: 40px;
}

.testimonios #next:hover,
.testimonios #prev:hover {
  background-color: var(--grey);
  color: var(--just-white);
}

/*Footer*/
footer {
  height: 10vh;
  background: var(--black);
  color: var(--just-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer div {
  display: flex;
  justify-content: space-around;
}

footer a {
  color: #00a69f;
  margin: 10px 5px;
  text-decoration: none;
  font-weight: 600;
}
