/*Navegador*/
.burger:first-child {
  width: 6rem;
  height: 0.75rem;
  margin-right: 2rem;
}
.burger::after,
.burger::before {
  height: 0.75rem;
  position: relative;
}

.burger::after {
  top: 2rem;
  position: relative;
}

.burger::before {
  top: 5rem;
  position: relative;
}

/*Botones*/
.button {
  width: 25rem;
  height: 7.5rem;
  font-size: 3rem;
}
.main-btn {
  margin-bottom: 5rem;
}
